*.dll
*.suo
bin/sample.exe
*.ilk
bin/sample.pdb
*.pdb
trans_image_filter/x64/Debug/vc140.idb
*.tlog
trans_image_filter/x64/Debug/sample.log
*.log
trans_image_filter/Debug/test.obj
*.obj
trans_image_filter/Debug/vc140.idb
*.opensdf